# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\hanne\OneDrive - NTNU\Desktop\2021 vår\sanntid\øving 7\exercise-7-hannegr\phoenix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
